/*What kind of colors to use? original ones

White text #FFFFFF
Lighter blue: #14A3F2
Darker blue: #082857
Darkest blue: #05132E

Background? I'm thinking black, no image background.

Links should probably have color variation


*/




html
{
              background:#082857;

}


.navbar
{
          background:#082857;
          

}

.body_outline
{
    color:white;
    background:#082857;

/*    border:2px solid #082857;*/
/*background-color: #14A3F2;*/

}
.outcontainer
{
      background:#082857;
      color:#14A3F2;
      
/*    border-radius: 20px;
*/    /*border: 4px solid #082857;*/
}

/*.sitename small
{
    color:#14A3F2;
}*/

.main_menu
{
    padding:0;
    margin:0;
    border:1px solid;
    background:#082857;

    
}

.main_menu > li > ul
{
    background:#14A3F2;
}

.main_menu ul
{
  color:#14A3F2;
  
  
}

.main_menu li
{
        display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.main_menu a:hover
{
	color:#14A3F2;
}

.main_menu a:active
{
	color:#14A3F2;
}

.main_menu a:checked
{
	color:#14A3F2;
}

.main_menu a:after
{
	color:#14A3F2;
}



.main_menu_mob
{
    padding:0;
    margin:0;
    border:0;
    background:#082857;
    border: 4px solid;

    
}

.main_menu_mob > li > ul
{
    background:#14A3F2;
}

.main_menu_mob ul
{
  color:#14A3F2;
  
  
}

.main_menu_mob li
{
        display:block;
    margin-left:auto;
    margin-right:auto;
}
.main_menu_mob a:hover
{
	color:#14A3F2;
}

.main_menu_mob a:active
{
	color:#14A3F2;
}

.main_menu_mob a:checked
{
	color:#14A3F2;
}

.main_menu_mob a:after
{
	color:#14A3F2;
}

.home_icon
{
    width:30px;
    height:22px;
    border:2px solid #14A3F2;
    border-radius:10px;
    /*border:2px solid #082857;*/
}


.center
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    
}



.white_text
{
    color:#FFFFFF;
    
}


.white_back
{
    background-color:#FFFFFF;
    
}

.lightblue_text
{
    color:#14A3F2;
}



.lightblue_back
{
    background-color:#14A3F2;
}

.darkblue_back
{
    background-color:#082857;
}


.darkest_back
{
    background-color:#05132E;
    
}

.nested_text
{
    color:#05132E;
    
}